<nav>
    <div class="header">
        <a href='/' class="title">
            <h1>URL Shortener</h1>
            <h5>A URL Shortener website</h5>
        </a>
    </div>
    <ul>
        <li><a href="/">All URL's</a></li>
        <li><a href='/CreateURL'>Create URL</a></li>
    </ul>
</nav>